node_modules/
__pycache__/
*.py[cod]
.python-version
.venv/
venv/
.env
local.settings.json
local.settings.generated.json
npm-debug.log*


AzuriteConfig
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__azurite_db_queue__.json
__azurite_db_queue_extent__.json
__azurite_db_table__.json
__blobstorage__/
__queuestorage__/
